---
http_interactions:
- request:
    method: get
    uri: http://136213.mobi/SmartRider/SmartRiderResult.aspx?SRN=123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xhtml+xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "\r\n<!DOCTYPE html PUBLIC \"-//WAPFORUM//DTD XHTML Mobile 1.0//EN\"
        \"http://www.wapforum.org/DTD/xhtml-mobile10.dtd\">\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head
        id=\"Head1\"><title>\r\n\tMy SmartRider Details\r\n</title><meta name=\"viewport\"
        content=\"initial-scale=1.0, user-scalable=no\" /><link href=\"../App_Themes/TP_Mobi/mobiweb.css\"
        type=\"text/css\" rel=\"stylesheet\" /></head>\r\n<body>\r\n<form name=\"form1\"
        method=\"post\" action=\"SmartRiderResult.aspx?SRN=123456789\" id=\"form1\">\r\n<input
        type=\"hidden\" name=\"__VIEWSTATE\" id=\"__VIEWSTATE\" value=\"/wEPaA8FDzhjZWM5OGM1YjcyNGIwMGRg499zvkQ3kYrjI/VItLWDIEXVog==\"
        />\r\n\r\n    <div id=\"pnlDisplay\" class=\"mainwrap\">\r\n\t        \r\n
        \       \r\n<div class=\"tpm_menu\">\r\n        <a id=\"pageHeader_hypBack\"
        title=\"Back\" href=\"/SmartRider/SmartRiderBalance.aspx\"><img title=\"Back\"
        src=\"../App_Themes/TP_Mobi/back.gif\" alt=\"Back\" border=\"0\" /></a>\r\n
        \       <a href=\"/Default.aspx\" accesskey=\"0\"><img id=\"tpLogo\" src='/App_Themes/TP_Mobi/home.gif'
        alt=\"Transperth Logo\" /></a>\r\n</div>\r\n            <div class=\"tpm_content\">\r\n
        \           <a href=\"#help\" id=\"tpm_helpbutton\"></a>\r\n            <h1>
        My SmartRider Details </h1>\r\n            <strong>Current Balance:</strong>
        <span id=\"lblCurrentBalance\"></span> <br />\t\r\n\t\t\t    <strong>Concession
        Type:</strong> <span id=\"lblType\">Not Available</span> <br />\t\t\t    \r\n\t\t\t
        \   <strong>Concession Expires:</strong> <span id=\"lblExpires\">Not Available</span>
        <br />\t\t\t    \r\n\t\t\t    <strong>Autoload:</strong> <span id=\"lblAutoload\">Not
        Available</span> <br />\r\n\t\t\t    <span id=\"lblMessage\" class=\"tpm_textalert\">SmartRider
        Number not found.</span>\t\t\t    \r\n\t\t\t    <p>SmartRider card balances
        are at least one day behind due to time delays in transmitting the current
        day's transactions.</p>    \r\n            </div>\r\n            <div id=\"tpm_help\"
        tabindex=\"100\">\r\n                <a class=\"tpm_row_heading\" href=\"#\">\r\n
        \           \t    <div class=\"arrow\"></div>\r\n            \t    Help\r\n
        \               </a>\r\n\t\t\t    <div class=\"tpm_row_content\">\r\n\t        \t
        \   <ol>\r\n\t        \t\t    <li>Your SmartRider card balance will be displayed,
        along with Autoload and concession expiry if applicable</li>\r\n\t        \t\t
        \   <li>*Note: Balance may not include transactions that have occurred within
        the last two days.</li>\r\n\t        \t    </ol>    \t        \t\r\n\t\t\t
        \   </div>\r\n            </div>\r\n        \r\n<div class=\"tpm_footer\">\r\n
        \   <a id=\"Footer_hypDisclaimer\" href=\"../Corporate/Disclaimer.aspx\">Disclaimer</a>\r\n
        \   <a id=\"Footer_hpPrivacy\" href=\"../Corporate/Privacy.aspx\">Privacy</a>\r\n
        \   <a id=\"Footer_hypTerms\" href=\"../Corporate/Terms.aspx\">Terms</a>\r\n
        \   <span class=\"copyright\">&copy; 2012</span>    \r\n\t<span class=\"copyright\"><a
        href=\"http://www.transperth.wa.gov.au?mobileversion=false\">Transperth Website</a></span>\r\n</div>
        \       \r\n    \r\n</div>\r\n\r\n<script type=\"text/javascript\">var _gaq
        = _gaq || [];_gaq.push(['_setAccount', 'UA-993890-7']);_gaq.push(['_trackPageview']);(function()
        {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async
        = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
        'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);})();</script></form>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 06 Mar 2012 00:43:37 GMT
[...]
