development:
  adapter: postgresql
  encoding: utf8
  host: localhost
  min_messages: warning
  database: transperth_development
  username: your_transperth_user
  password: your_transperth_password

test: &TEST
  adapter: postgresql
  encoding: utf8
  host: localhost
  database: transperth_test
  min_messages: warning
  username: your_transperth_user
  password: your_transperth_password

staging:
  adapter: postgresql
  encoding: utf8
  host: localhost
  database: your_transperth_user
  username: your_transperth_user
  password:

production:
  adapter: postgresql
  encoding: utf8
  host: localhost
  min_messages: warning
  database: transperth_production
  username: your_transperth_user
  password: your_transperth_password